{% extends "easyborrow_depositor_app_templates/base.html" %}


{% block page_title %}
easyrequest-hay confirm
{% endblock page_title %}


{% block extra_css %}
<style type="text/css">
    form {
        /*margin-top: 1.25em;*/
        margin-top: 2em;
    }

    #info_text p {
        font-size: .8em;
        margin: 0;
    }

    input#shib {
        margin-right: 2em;
    }
    input#nonshib {
        margin-right: 2em;
    }
    /* item info... */
    div#item {
      margin-top: .5em;
      padding: 0;
      /*padding-bottom: 1.25em;*/
    }
    div#item p.item_label {
      margin: 0;
      padding: 0;
      display: block;
      font-size: 100%;
      line-height: 1.5em;
      padding-right: .75em;
      width: 10em;
      text-align: right;
      float: left;
      font-weight: bold;
    }
    div#item p.item_value {
      margin: 0;
      padding: 0;
      display: block;
      font-size: 100%;
      line-height: 1.5em;
      font-weight: bold;
    }
    /* END -- item info... */
    div#reminder {
        margin-top: 1em;
        padding-right: 8em;
    }

    div#reminder p.reminder_text {
        color: maroon;
        font-size: 100%;
        line-height: 125%;
    }

/*
    div#reminder h2#longline {
        line-height: 150%;
    }
*/

    h2 {
        font-family: 'Source Sans Pro', sans-serif;
        color: maroon;
        font-size: 1.25em;
        font-weight: 400;
    }
    div#shib {
        float: left;
    }
    div#shib input {
        width: 15em;
    }
    div#nonshib {
        float: left;
    }
    div#nonshib input {
        width: 15em;
    }
    div#cancel {
        float: left;
    }
    div#cancel input {
        width: 15em;
    }
    div#clear {
        margin: 0;
        padding: 0;
        clear: both;
    }
</style>
{% endblock extra_css %}


{% block content %}

<h1>easyBorrow &mdash; confirm request</h1>

<div id="info_text">

    <p>You&rsquo;re requesting, from one of our borrowing partners, the item:</p>
    <!-- no label; consider table; it's tabular! -->
    <div id="item">
        <p class="item_label">Title:</p>
        <p class="item_value">{{ item_title }}</p>
    </div>

    <form action="{{ action_url }}" method="POST">
        <input type="hidden" name="shortlink" value="{{ shortlink }}">
        <div id="shib">
            <input id="shib" type="submit" value="Yes, get this!" name="type">
        </div>

        <!--
        <div id="cancel">
            <input type="submit" value="Cancel; return to Josiah" name="type">
        </div>
        -->

    </form>

    <div id="clear"></div>

</div>  <!-- end <div id="info_text"> -->

{% endblock content %}
